/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin-regular.woff") format("woff"), url("../fonts/raleway-v19-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --footer-rare-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --cards-portfolio-color: #eeeeee;
  --header-logo-studio-color: #000000;
  --footer-bg-color: #2f303a;
  --button-hover-hero-bg-color: #188ce8;
  --bottom-line-menu: #ececec;
  --card-set-gap: 30px;
  --social-fill-color: #afb1b8;
  --footer-social-fill-color: rgba(255, 255, 255, 0.1);
  --practice-description-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
  --modal-overlay: rgba(0, 0, 0, 0.2);
  --modal-button: rgba(0, 0, 0, 0.1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.global {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.mobile__menu {
  position: absolute;
  width: 101vw;
  max-width: 480px;
  height: 100vh;
  min-height: 500px;
  overflow-y: scroll;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-50%) translateY(-100%) scale(0);
          transform: translateX(-50%) translateY(-100%) scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 48px;
  background-color: var(--primary-bg-color);
  z-index: 2;
}

.mobile__menu.is-open {
  -webkit-transform: translateX(-50%) translateY(0) scale(1);
          transform: translateX(-50%) translateY(0) scale(1);
}

.mobile__close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--header-logo-studio-color);
}

.mobile__close__btn:focus {
  color: var(--accent-color);
}

.menu__close__btn__icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__close__btn__icon:focus {
  fill: var(--accent-color);
}

.mobile__menu__item, .nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: var(--second-text-color);
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu__item:focus {
  color: var(--accent-color);
}

.link--current {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  text-decoration: none;
}

.mobile__menu__contact {
  margin-bottom: 64px;
}

.menu__contact__items:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__menu__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu__link:focus {
  font-size: 34px;
  line-height: 1.177;
  color: var(--accent-color);
}

.mobile__social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile__social__items {
  position: relative;
}

.mobile__social__items:not(:last-child) {
  margin-right: 20px;
}

.mobile__social__items:not(:last-child) .mobile__social__link::after {
  position: absolute;
  content: '';
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile__social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.223;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 767px) {
  .mobile__menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.header {
  border-bottom: 1px solid var(--bottom-line-menu);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-studio-color-header {
  color: var(--header-logo-studio-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 1.193;
  }
}

.logo-studio-color-footer {
  color: var(--primary-bg-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navigation__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--header-logo-studio-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__btn .icon_btn {
    fill: currentColor;
  }
  .navigation__btn:hover, .navigation__btn:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .navigation__btn {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    color: var(--second-text-color);
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link.current {
    color: var(--accent-color);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav-item {
    display: block;
    position: relative;
  }
  .site-nav-item:not(:last-child) {
    margin-right: 50px;
  }
  .current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-contact .items__mail {
    margin-top: 21px;
    margin-bottom: 10px;
  }
  .header-contact .items__tel {
    margin-bottom: 21px;
  }
  .header-contact-tel,
  .header-contact-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    color: var(--primary-text-color);
    text-decoration: none;
  }
  .contact-icon {
    margin-right: 8px;
    fill: currentColor;
    max-width: 100%;
    max-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-contact .items__mail {
    margin-top: 0;
    margin-bottom: 0;
  }
  .header-contact .items__tel {
    margin-bottom: 0;
  }
  .items__mail,
  .items__tel {
    margin-left: 50px;
  }
  .header-contact-tel,
  .header-contact-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-icon {
    margin-right: 10px;
  }
  .header-contact-tel:hover,
  .header-contact-tel:focus,
  .header-contact-mail:hover,
  .header-contact-mail:focus {
    color: var(--accent-color);
  }
}

/*  ========= Footer  =========  */
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-list-items {
  width: 44px;
  height: 44px;
}

.footer-social-list-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--footer-social-fill-color);
  border-radius: 50%;
  height: 100%;
  color: var(--primary-bg-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    margin-right: calc((89 - 15)*1px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg-color);
    font-style: normal;
  }
  .footer-section {
    text-align: center;
  }
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    font-style: normal;
  }
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .footer-logo-adress {
    text-align: center;
    margin-left: calc((76 - 15) * 1px);
    margin-right: 165px;
    width: 232px;
  }
  .footer-social {
    max-width: 206px;
    margin-right: 0 auto;
  }
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 56px;
    padding-bottom: 55px;
    background-color: var(--footer-bg-color);
    font-style: normal;
  }
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*  ========= Footer Address list   =========  */
@media screen and (max-width: 767px) {
  .footer-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .address-list {
    text-align: center;
  }
  .address-list .items:not(:last-child) {
    margin-bottom: 9px;
  }
  .address-futer {
    text-decoration: none;
    font-style: normal;
    margin-bottom: 60px;
  }
  .address-office {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.715;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    text-decoration: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-office:hover, .address-office:focus {
    color: var(--accent-color);
  }
  .address-mail,
  .adress-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.715;
    letter-spacing: 0.03em;
    text-decoration: inherit;
    color: var(--footer-rare-text-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-mail:hover, .address-mail:focus,
  .adress-tel:hover,
  .adress-tel:focus {
    color: var(--accent-color);
  }
  .footer-call {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo .f-logo {
    text-align: center;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-top: 0;
  }
  .address-list {
    text-align: center;
    width: 232px;
  }
  .address-list .items:not(:last-child) {
    margin-bottom: 9px;
  }
  .address-futer {
    text-decoration: none;
    font-style: normal;
    margin-bottom: 60px;
  }
  .address-office {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.715;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    text-decoration: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-office:hover, .address-office:focus {
    color: var(--accent-color);
  }
  .address-mail,
  .adress-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.715;
    letter-spacing: 0.03em;
    text-decoration: inherit;
    color: var(--footer-rare-text-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-mail:hover, .address-mail:focus,
  .adress-tel:hover,
  .adress-tel:focus {
    color: var(--accent-color);
  }
  .footer-call {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo .f-logo {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .address-list .items:not(:last-child) {
    margin-bottom: 9px;
  }
  .address-futer {
    text-decoration: none;
    font-style: normal;
  }
  .address-office {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.715;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    text-decoration: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-office:hover, .address-office:focus {
    color: var(--accent-color);
  }
  .address-mail,
  .adress-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.715;
    letter-spacing: 0.03em;
    text-decoration: inherit;
    color: var(--footer-rare-text-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-mail:hover, .address-mail:focus,
  .adress-tel:hover,
  .adress-tel:focus {
    color: var(--accent-color);
  }
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-call {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
  }
  .footer-logo-adress {
    margin-right: 70px;
  }
}

/*  ========= Footer Form    =========  */
@media screen and (max-width: 767px) {
  .form-footer .text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
  }
  .sign-input {
    display: block;
    width: 100%;
    max-width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bg-color);
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
  }
  .sign-input:focus {
    outline: none;
  }
  .sign-input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 28px 10px 29px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .sign-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
  }
  .sign-icon {
    fill: var(--primary-bg-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-footer {
    display: block;
    margin-left: calc( (100% - 450px) * 1.092/2.092);
    margin-right: calc( (100% - 450px) /2.092);
  }
  .form-footer .text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
  }
  .sign-input {
    display: block;
    width: 100%;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bg-color);
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
  }
  .sign-input:focus {
    outline: none;
  }
  .sign-input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 28px 10px 29px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .sign-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
  }
  .sign-icon {
    fill: var(--primary-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 93px;
  }
  .form-footer .text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
  }
  .sign-input {
    display: inline-block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bg-color);
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
  }
  .sign-input:focus {
    outline: none;
  }
  .sign-input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-rare-text-color);
  }
  .sign-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 28px 10px 29px;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .sign-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
  }
  .sign-icon {
    fill: var(--primary-bg-color);
  }
}

.portfolio-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-item > .filter-button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--second-bg-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 479px) {
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-card-box {
    background: var(--primary-bg-color);
    border-left: 1px solid var(--cards-portfolio-color);
    border-bottom: 1px solid var(--cards-portfolio-color);
    border-right: 1px solid var(--cards-portfolio-color);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 24px;
  }
  /* portfolio list develop desing */
  .portfolio-list-item .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    margin-bottom: 4px;
  }
  .portfolio-list-item .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .portfolio-link {
    text-decoration: inherit;
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link:hover, .portfolio-link:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  /* create overlay  */
  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }
  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--portfolio-overlay-bg);
    width: 100%;
    height: 100%;
    padding: 1.27rem .83rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    -webkit-transform: translateY(calc(100% + 1px));
            transform: translateY(calc(100% + 1px));
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link:hover .text-overlay,
  .portfolio-link:focus .text-overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 480px) {
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-card-box {
    background: var(--primary-bg-color);
    border-left: 1px solid var(--cards-portfolio-color);
    border-bottom: 1px solid var(--cards-portfolio-color);
    border-right: 1px solid var(--cards-portfolio-color);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 24px;
  }
  /* portfolio list develop desing */
  .portfolio-list-item .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    margin-bottom: 4px;
  }
  .portfolio-list-item .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .portfolio-link {
    text-decoration: inherit;
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link:hover, .portfolio-link:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  /* create overlay  */
  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }
  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--portfolio-overlay-bg);
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    -webkit-transform: translateY(calc(100% + 1px));
            transform: translateY(calc(100% + 1px));
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-link:hover .text-overlay,
  .portfolio-link:focus .text-overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .portfolio-list-item {
    margin-bottom: 0;
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  .tekhn-box {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .text-overlay {
    padding: 63px 24px;
  }
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .portfolio-list-item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
        flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  .tekhn-box {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=portfolio.css.map */