// 
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  
  .header-contact {
    display: none;
  }
  
  .navigation {
    display: flex;
   flex-direction: row;
  
    }

  .navigation__btn {
display: flex; //add//
justify-content: center; //add//

    width: 40px;
    height: 40px;

     background-color: transparent;
    border: none;
       
    color: var(--header-logo-studio-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .icon_btn {
        fill: currentColor;


      }
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
 }
}


// Tablet
@media screen and (min-width: 768px) {
  .navigation__btn {
    display: none;
  }

  .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      }

  .site-nav {
      display: flex;
      align-items: center;

      .link {
              display: flex;
              padding-top: 32px;
              padding-bottom: 32px;
            
              font-weight: 500;
              @include line-height-calc(14,16);              
              color: var(--second-text-color);
              text-decoration: none;
            
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              
              &.current {
              color: var(--accent-color);
                        }
        
              &:hover,
            &:focus {
                  color: var(--accent-color);
                      }
            }
      }

  .site-nav-item {
          &:not(:last-child) {
            margin-right: 50px;
                            }
           display: block;
           position: relative;
                 } 

.current::after {
 content: '';
  display: block;
                
  position: absolute;
  bottom: -1px;
                
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
                } 
                
  .header-contact {
    display: flex;
    // margin-left: auto;
    flex-direction: column;
    }
      
  .header-contact .items__mail {
    margin-top: 21px;
    margin-bottom: 10px;
  }

  .header-contact .items__tel {
    margin-bottom: 21px;
  }
     
  .header-contact-tel,
  .header-contact-mail {
    display: flex;
    align-items: center;

    font-weight: 500;
    @include line-height-calc(12, 14);
    color: var(--primary-text-color);
    text-decoration: none;
    }
    
  .contact-icon {
    margin-right: 8px;
    fill: currentColor;

    max-width:100%; 
   max-height:14px;
  }              
}
  
@media screen and (min-width: 1200px) {

  .header-contact {
  margin-left: auto;
  flex-direction: row;
  }

  .header-contact .items__mail {
  margin-top: 0;
  margin-bottom: 0;
  }

  .header-contact .items__tel {
  margin-bottom: 0;
  }

  .items__mail,
  .items__tel {
  margin-left: 50px;
  }

  .header-contact-tel,
  .header-contact-mail {
  @include d_flex(center);

  @include line-height-calc(14,16);

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-icon {
  margin-right: 10px;
  }

  .header-contact-tel:hover,
  .header-contact-tel:focus,
  .header-contact-mail:hover,
  .header-contact-mail:focus {
  color: var(--accent-color);
  }
}