// mobile-hybrit 
.container {
width: 100%;
// min-width: 320px;
padding: 0 15px;


  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--primary-bg-color);
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  
    margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
      
     .header & {
     
      padding-top: 0;
      padding-bottom: 0;
     }
    }
}

@media screen and (min-width: 1200px) {
  .container {
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        }
}

// .container {
//     width: 1200px;
//     padding: 0 15px;
//     margin: 0 auto;

//     .header & {
//       display: flex;
//       align-items: center;
//     }

//   }